<h1>All <%= store_name_format(params[:store]) %> Inventories</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date placed</th>
        <% if store %>
          <th>Delivery Day </th> 
        <% end %>
        <th>View</th>
      </tr>
    </thead>
    <tbody>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.id %></td>
	    <td><%= order.created_at.strftime('%A, %d %b %Y %l:%M %p') %></td>	
      <% if store %>
      <td><%= order.order_day %> </td>
      <% end %>
	    <td><%= link_to 'View', "/#{params[:store]}/inventory/all/#{order.id}", class: "btn btn-primary"%></td> </td>	
	 </tr>
	<% end %>

    </tbody>
  </table>
</div>

<%= paginate @orders %>
