
<h1><%= store_name_format(params[:store]) %> Inventory</h1>

<%= form_tag "/#{params[:store]}/inventory", method: :post do %>
	<%= hidden_field_tag(:order_day, value = params[:delivery_day]) %>
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Count By</th>
	        <th class="sticky2">Inventory</th>
	      </tr>     
	    </thead> 

		<% @locations.each do |location|  %>
	     <thead>
	        <tr> 
	          <th class="sticky text-center" colspan="3"><%= location.name %></th>
	        </tr>
	     </thead>

			<% @store_goods.each do |store_good| %>
				<% if (store_good.location_id == location.id) && (['Both', params[:delivery_day]].include?(store_good.delivery_day))%>

					<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>
						<% if store_good.try(:product) %>
							<td><%= store_good.product.name %></td>
							<td><%= store_good.measurement %> </td>
							<td>
								<%= sg.number_field :quantity, class:"form-control", :placeholder => store_good.product.case_quantity ? "#{store_good.product.case_quantity} in each case. Count by Item!" : nil, required: "true" %>

								<%= sg.hidden_field :case_quantity, :value => store_good.product.case_quantity %>
								<%= sg.hidden_field :measurement, :value => store_good.measurement %>
								<%= sg.hidden_field :max_amount, :value => store_good.max_amount %>
								<%= sg.hidden_field :store_good_id, :value => store_good.id %>
								<%= sg.hidden_field :replenish_by_each, :value => store_good.replenish_by_each %>
							 </td>						
						<% else %>	
							<td><%= store_good.prepcenter_product.name %></td>
							<td><%= store_good.measurement %></td>
							<td>
								<%= sg.number_field :quantity, class:"form-control", required: "true" %>

								<%= sg.hidden_field :case_quantity, :value => store_good.prepcenter_product.case_quantity %>
								<%= sg.hidden_field :measurement, :value => store_good.measurement %>
								<%= sg.hidden_field :max_amount, :value => store_good.max_amount %>
								<%= sg.hidden_field :store_good_id, :value => store_good.id %>	
								<%= sg.hidden_field :replenish_by_each, :value => store_good.replenish_by_each %>	
							 </td>							
						<% end %>
					</tr>
					<% end %>

				<% end %>
			<% end %>

		<% end %>
	  </table>

      <div class="form-group">
        <label>Notes:</label>
        <textarea class="form-control" rows="5" name="message"></textarea>
      </div>	

	<button type="submit" class="btn btn-success">Submit Inventory</button>
<% end %>
<br>

