
<h1><%= store_name_format(params[:store]) %> <%= params[:distributor] %> Inventory</h1>
	<div class='sub-list'>
		<ul> 
			<li> <a href="/<%= params[:store] %>/inventory/all/<%= params[:order_id] %>">All </a> </li>

				<% @distributors.each do |distributor| %>
					<li><a href="/<%= params[:store] %>/inventory/<%= distributor.name %>/<%= params[:order_id] %>"><%= distributor.name %> </a> </li>
				<% end %>
	
		</ul>
	</div>

	<div class="sub-list">
		<ul> 
			<li><a href="/<%= params[:store]%>/inventory/<%= params[:distributor] %>/zeros/<%= params[:order_id] %>"> Show Zeros </a></li>
		</ul>
	</div>

	<% sum = 0 %>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Current Quantity</th>
	        <th class="sticky2">Quantity Needed</th>
	        <th class="sticky2">Verified</th>
	        <th class="sticky2">Corrective Action</th>
	      </tr>     
	    </thead> 

		<% @item_types.each do |location|  %>
	     <thead>
	        <tr> 
	          <th class="sticky text-center" colspan="5"><%= location.capitalize %></th>
	        </tr>
	     </thead>
			<% @inventories.each do |inventory| %>
				<% if inventory.store_good %>
					<% if (params[:distributor] == inventory.store_good.distributor.name) && ((params[:zeros] != 'zeros') && (inventory.quantity_needed > 0))%>
						
						<% if inventory.store_good.product && (inventory.store_good.product.item_type == location) %>
							<tr>	
								<td><%= inventory.store_good.product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>

							<% elsif inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == location) %>
							<tr>
								<td><%= inventory.store_good.prepcenter_product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>
						<% end %>

					
					<% elsif (params[:distributor] == 'all') && ((params[:zeros] != 'zeros') && (inventory.quantity_needed > 0)) %>
						<% if inventory.store_good.product && (inventory.store_good.product.item_type == location) %>
							<tr>	
								<td><%= inventory.store_good.product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>

							<% elsif inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == location) %>
							<tr>
								<td><%= inventory.store_good.prepcenter_product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>
						<% end %>	


					<% elsif (params[:distributor] == 'all') && (params[:zeros] == 'zeros')%>
						<% if inventory.store_good.product && (inventory.store_good.product.item_type == location) %>
							<tr>	
								<td><%= inventory.store_good.product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>

							<% elsif inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == location) %>
							<tr>
								<td><%= inventory.store_good.prepcenter_product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>
						<% end %>		


					<% elsif (params[:distributor] == inventory.store_good.distributor.name) && (params[:zeros] == 'zeros')%>
						<% if inventory.store_good.product && (inventory.store_good.product.item_type == location) %>
							<tr>	
								<td><%= inventory.store_good.product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>

							<% elsif inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == location) %>
							<tr>
								<td><%= inventory.store_good.prepcenter_product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
								<td><%= inventory.verified %> </td>
								<td><%= inventory.corrective_action %> </td>
								<% sum += inventory.quantity_needed %>
							</tr>
						<% end %>								

					<% end %>
				<% end %>
			<% end %>
		<% end %>
	  </table>	
		
	  <h3 align="right"> Total Item Quantity: <%= sum %></h3>

      <div class="form-group">
        <label>Notes:</label>
        <%= @message %>
      </div>	

<br>

