<h1>All Prepcenter Products</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement</th>
        <th>Prepped</th>
        <th>Item Type</th>
        <th>Portion Size</th>
        <th>Mark Up </th>
       	<th>Price</th>
        <th>Add Product</th>
      </tr>
    </thead>
    <tbody>

  <% @prepped_products.each do |prepped_product| %>
    <% if !prepped_product.prepped_store_goods.find_by(store_id: @store_id) %> 
      <tr>
        <td><%= prepped_product.name %></td>
        <td><%= prepped_product.measurement %></td> 
        <td><%= prepped_product.prepped %> </td>
        <td><%= prepped_product.item_type %> </td>
        <td><%= prepped_product.portion_size %> </td>  
        <td><%= number_to_percentage(prepped_product.markup, precision: 1) %></td>
        <td><%= number_to_currency( (prepped_product.product.price / prepped_product.portion_size) * ((prepped_product.markup * 0.01)+1) ) %> </td>
        <td><%= link_to 'Add', "/#{params[:store]}/products/prepcenter/add/#{prepped_product.id}/new", class: "btn btn-success"%></td>
      </tr>
    <% end %> 

	<% end %>

    </tbody>
  </table>

  </div>