<h1>Edit <%= @prepped_store_good.prepcenter_product.name %> From <%= store_name_format(params[:store]) %></h1>


	<%= form_tag "/#{params[:store]}/products/prepcenter/#{params[:id]}", method: :patch do %>
		<form>
		  <div class="form-group">
		    <label>Max Amount</label>
		    <input type="number" class="form-control" name="max_amount" value="<%= @prepped_store_good.max_amount %>"  required>
		  </div>  

		  <div class="form-group">
		    <label>Location</label>
		    <select class="form-control" name="location_id" required>
		    	<%= locations_options(@prepped_store_good) %>
		    </select>	 
		  </div>

		  <div class="form-group">
		    <label>Distributor</label>
		    <select class="form-control" name="distributor_id" required>
		    	<%= distributors_options(@prepped_store_good) %>
		    </select>	 
		  </div>		  

		  <button type="submit" class="btn btn-primary">Edit Product</button>
		</form>
	<% end %>
	<br>