

<div>		
	<% if can? [:index, :show], :sale or can? :manage, [Product, PrepcenterProduct] or can? :manage, SavedPrice or can? :manage, User %>
	<h3><u>Management Center </u></h3>
		<ul class="list-group">
		<% if can? [:index, :show], :sale %>
			<a href="/financials/sales"><button type="button"<li class="list-group-item list-group-item-action">Financials</li></button></a>	  
		<% end %>
		<% if can? :manage, [Product, PrepcenterProduct] %>
			<a href="/globals/products"><button type="button"<li class="list-group-item list-group-item-action">Globals</li></button></a>	  
		<% end %>
		<% if can? :manage, SavedPrice %>
			<a href="/product_prices/prices"><button type="button"<li class="list-group-item list-group-item-action">Product Prices</li></button></a>
		<% end %>
		<% if can? :manage, User %>
			<a href="/users"><button type="button"<li class="list-group-item list-group-item-action">Manage Users</li></button></a>	  
		<% end %>			
		</ul>	
	<% end %>

	<h3><u>Prep Center</u></h3>
	<ul class="list-group">
		<% @prepcenters.each do |prepcenter| %>
			<a href="/<%= prepcenter.name %>/orders"><button type="button"<li class="list-group-item list-group-item-action"><%= store_name_format(prepcenter.name) %></li></button></a>	  
		<% end %>
	</ul>

	<h3><u> Stores</u></h3>
	<ul class="list-group">
		<% @stores.each do |store| %>
		  <a href="/<%= store.name %>/delivery_day"><button type="button"<li class="list-group-item list-group-item-action"><%= store_name_format(store.name) %></li></button></a>
		<% end %>
	</ul>
</div>

<%= create_link @store, "Add New Location", stores_new_path %>