
<h1>All Products</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement</th>
        <th>Prepped</th>
        <th>Item Type</th>
        <th>Case Quantity </th>
       	<th>Price</th>
        <th>Add Product</th>
      </tr>
    </thead>
    <tbody>

	<% @products.each do |product| %>
    <% if !product.store_goods.find_by(store_id: @store_id) %>
  	  <tr>
  		    <td><%= product.name %></td>
        	<td><%= product.measurement %></td> 
        	<td><%= product.prepped %> </td>
        	<td><%= product.item_type %> </td>
        	<td><%= product.case_quantity %> </td>	
        	<td><%= number_to_currency(product.price) %> </td>         
  	      <td><%= link_to 'Add Product', "/#{params[:store]}/products/#{product.id}/new", class: "btn btn-success"%></td>
  	  </tr>
    <% end %>

	<% end %>

    </tbody>
  </table>

  </div>