
<h1>Add Products</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement</th>
        <th>Item Type</th>
        <th>Case Quantity </th>
        <th>Add Product</th>
      </tr>
    </thead>
    <tbody>

  <% @products.each do |product| %>
    <% if !product.store_goods.find_by(store_id: @store_id) %>
      <tr>
          <td><%= product.name %></td>
          <td><%= product.measurement %></td> 
          <td><%= product.item_type %> </td>
          <td><%= product.case_quantity %> </td>  
          <td><%= link_to 'Add Product', "/#{params[:store]}/products/add/#{product.id}/new", class: "btn btn-success"%></td>
      </tr>
    <% end %>
	<% end %>
    
    <thead>
      <tr> 
        <td align="center" colspan="7">Prepped Products </td>
      </tr>
    </thead> 

  <% @prepped_products.each do |prepped_product| %>
    <% if !prepped_product.prepped_store_goods.find_by(store_id: @store_id) %>
      <tr>
          <td><%= prepped_product.name %></td>
          <td><%= prepped_product.measurement %></td> 
          <td><%= prepped_product.item_type %> </td>
          <td><%= prepped_product.try(:case_quantity) %> </td>  
          <td><%= link_to 'Add Product', "/#{params[:store]}/products/prepcenter/add/#{prepped_product.id}/new", class: "btn btn-success"%></td>          
      </tr>
    <% end %>
  <% end %>



    </tbody>
  </table>

  </div>