<h1>All <%= store_name_format(params[:store]) %> Products</h1>

<a href="/<%= params[:store]%>/products/add"><button type="button" class="btn btn-success">Add New Product</button></a>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement</th>
        <th>Item Type</th>
        <th>Case Quantity </th>
        <th>Max Amount </th>
        <th>Location</th>
        <th>Distributor</th>
        <th>Edit</th>
        <th>Delete </th>
      </tr>
    </thead>
    <tbody>

  	<% @store_goods.each do |store_good| %>
      <% if store_good.product %>
      	  <tr>
      		    <td><%= store_good.product.name %></td>
            	<td><%= store_good.product.measurement %></td> 
            	<td><%= store_good.product.item_type %> </td>
            	<td><%= store_good.product.case_quantity %> </td>
            	<td><%= store_good.max_amount %> </td>
            	<td><%= store_good.location.name %> </td>	
            	<td><%= store_good.distributor.name %> </td>	
              <td><%= link_to 'Edit', "/#{params[:store]}/products/#{store_good.id}/edit", class: "btn btn-primary"%></td>
              <td><%= button_to "Delete", { action: "destroy", id: store_good.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
      	 </tr> 
      <% end %>
  	<% end %>
    
      <thead>
        <tr> 
          <td align="center" colspan="10">Prepped Products </td>
        </tr>
      </thead> 
    
    <% @store_goods.each do |store_good| %>
      <% if store_good.prepcenter_product %>
          <tr>
              <td><%= store_good.prepcenter_product.name %></td>
              <td><%= store_good.prepcenter_product.measurement %></td> 
              <td><%= store_good.prepcenter_product.item_type %> </td>
              <td> N/A </td>
              <td><%= store_good.max_amount %> </td>
              <td><%= store_good.location.name %> </td> 
              <td><%= store_good.distributor.name %> </td>  
              <td><%= link_to 'Edit', "/#{params[:store]}/products/prepcenter/#{store_good.id}/edit", class: "btn btn-primary"%></td>
              <td><%= button_to "Delete", { action: "destroy", id: store_good.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
         </tr> 
      <% end %>
    <% end %>


    </tbody>
  </table>

  </div>