<h1>All <%= store_name_format(params[:store]) %> Products</h1>

<% if can? :manage, StoreGood %>
  <a href="/<%= params[:store]%>/products/add"><button type="button" class="btn btn-success">Add New Product</button></a>
<% end %>

<br> 
<br> 


  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sticky2">Name</th>
        <th class="sticky2">Measurement</th>
        <th class="sticky2">Replenish by EA</th>
        <th class="sticky2">Item Type</th>
        <th class="sticky2">Case Quantity </th>
        <th class="sticky2">Max Amount </th>
        <th class="sticky2">Location</th>
        <th class="sticky2">Distributor</th>
        <th class="sticky2">Delivery</th>
        <% if can? :manage, StoreGood %> 
          <th class="sticky2">Edit</th>
          <th class="sticky2">Delete </th>
        <% end %>
      </tr>
    </thead>
    <tbody>

  	<% @store_goods.each do |store_good| %>
      <% if store_good.product && store_good.distributor %>
      	  <tr>
      		    <td><%= store_good.product.name %></td>
              <td><%= store_good.measurement %></td> 
            	<td><%= store_good.replenish_by_each %></td> 
            	<td><%= store_good.product.item_type %> </td>
            	<td><%= store_good.product.case_quantity %> </td>
            	<td><%= store_good.max_amount %> </td>
            	<td><%= store_good.location.name %> </td>	
              <td><%= store_good.distributor.name %> </td>  
            	<td><%= store_good.delivery_day %> </td>	
              <% if can? :manage, StoreGood %>
                <td><%= link_to 'Edit', "/#{params[:store]}/products/#{store_good.id}/edit", class: "btn btn-primary"%></td>
                <td><%= button_to "Delete", { action: "destroy", id: store_good.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
              <% end %>
      	 </tr> 
      <% end %>
  	<% end %>
    
      <thead>
        <tr> 
          <th class="sticky text-center" colspan="11">Prepped Products </th>
        </tr>
      </thead> 
    
    <% @prepped_store_goods.each do |store_good| %>
      <% if store_good.prepcenter_product %>
          <tr>
              <td><%= store_good.prepcenter_product.name %></td>
              <td><%= store_good.measurement %></td>
              <td><%= store_good.replenish_by_each %></td> 
              <td><%= store_good.prepcenter_product.item_type %> </td>
              <td><%= store_good.prepcenter_product.case_quantity %></td>
              <td><%= store_good.max_amount %> </td>
              <td><%= store_good.location.name %> </td> 
              <td><%= store_good.distributor.name %> </td> 
              <td><%= store_good.delivery_day %> </td> 
              <% if can? :manage, StoreGood %>
                <td><%= link_to 'Edit', "/#{params[:store]}/products/prepcenter/#{store_good.id}/edit", class: "btn btn-primary"%></td>
                <td><%= button_to "Delete", { action: "destroy", id: store_good.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
              <% end %>
         </tr> 
      <% end %>
    <% end %>


    </tbody>
  </table>

