
<h1>Add <%= @product.name %> To <%= store_name_format(params[:store]) %></h1>
	
	<%= form_tag "/#{params[:store]}/products/add/#{params[:id]}", method: :post do %>
	<form>
	  <div class="form-group">
	    <label>Max Amount</label>
	    <input type="number" class="form-control" name="max_amount"  required>
	  </div>  

	  <div class="form-group">
	    <label>Location</label>
	    <select class="form-control" name="location_id" required>
	      <option value=""></option>
	      <% @locations.each do |location| %>
	      	<option value="<%= location.id %>"><%= location.name %></option>
	      <% end %>
	    </select>	 
	  </div>

	  <div class="form-group">
	    <label>Distributor</label>
	    <select class="form-control" name="distributor_id" required>
	      <option value=""></option>
	      <% @distributors.each do |distributor| %>
	      	<option value="<%= distributor.id %>"><%= distributor.name %></option>
	      <% end %>
	    </select>	 
	  </div>


	  <button type="submit" class="btn btn-success">Add Product</button>
	</form>
	<% end %>
	<br>