

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <% if store %>
        <a class="navbar-brand" href="/"><%= store_name_format(store) %></a>
      <% else %>
        <a class="navbar-brand" href="">Rusticana</a>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
	    <li><a href="/">Choose Store</a></li>
	    <% if !store %>
        <li class="dropdown">
  	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Global <span class="caret"></span></a>
  	      <ul class="dropdown-menu">
    		    <li><a href="/products">View Distributor Products</a></li> 
            <li><a href="/products/prepcenter">View PrepCenter Products</a></li> 
    		    <li><a href="/distributors">View Distributors</a></li>
  	      </ul>
  	     </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add Global <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products/new">Add Distributor Products</a></li> 
            <li><a href="/distributors/new">Add Distributors</a></li>
          </ul>
         </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Prices <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/prices">View Price Overview</a></li> 
            <li><a href="/prices/date">View By Date</a></li> 
            <li><a href="/prices/new">Update Prices</a></li>
          </ul>
         </li>         
      <% end %>

        <% if store %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Distributor Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/products">View Products</a></li>
              <li><a href="/<%= store %>/products/add">Add Products</a></li>
            </ul>
           </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Prepcenter Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/products/prepcenter">View Products</a></li>
              <li><a href="/<%= store %>/products/prepcenter/add">Add Products</a></li>
            </ul>
           </li>           

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Locations <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/locations">View Locations</a></li>
              <li><a href="/<%= store %>/locations/new">Add Locations</a></li>
              
            </ul>
           </li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Login Out</a></li>
      </ul>
    </div>

  </div>
</nav>