

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <% if store %>
        <a class="navbar-brand" href="/"><%= store_name_format(store) %></a>
      <% elsif controller.class == ProductsController || controller.class == PrepcenterProductsController || controller.class == DistributorsController %>
        <a class="navbar-brand" href="/">Globals</a>
      <% elsif controller.class == PricesController %>
        <a class="navbar-brand" href="/">Prices</a>
      <% elsif controller.class == SalesController %> 
        <a class="navbar-brand" href="/">Financials</a>             
      <% else %>
        <a class="navbar-brand" href="/">Rusticana</a>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <% if controller.class != StoresController && current_user %>
	     <li><a href="/">Choose Store</a></li>
      <% end %>

	    <% if controller.class == ProductsController || controller.class == PrepcenterProductsController || controller.class == DistributorsController %>
        <li class="dropdown">
  	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Global <span class="caret"></span></a>
  	      <ul class="dropdown-menu">
    		    <li><a href="/globals/products">View Non-prepped Products</a></li> 
            <li><a href="/globals/products/prepcenter">View Prepped Products</a></li> 
    		    <li><a href="/globals/distributors">View Distributors</a></li>
  	      </ul>
  	     </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add Global <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/globals/products/new">Add New Product</a></li> 
            <li><a href="/globals/distributors/new">Add Distributors</a></li>
          </ul>
         </li>
      <% end %>

    <% if controller.class == PricesController %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Prices <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/product_prices/prices">View Price Overview</a></li> 
            <li><a href="/product_prices/prices/date">View By Date</a></li> 
            <li><a href="/product_prices/prices/new">Update Prices</a></li>
          </ul>
         </li>         
      <% end %>

    <% if controller.class == SalesController %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/financials/sales">All Orders</a></li> 
          </ul>
         </li> 
    <% end %>

    <% if controller.class == UsersController || controller.class == Users::RegistrationsController %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users">View Users</a></li> 
            <li><a href="/sign_up">Add New Users</a></li> 
          </ul>
         </li> 
    <% end %>

        <% if store %>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/inventory/new">New Inventory</a></li>
              <li><a href="/<%= store %>/inventory">All Inventories</a></li>
            </ul>
           </li>  

           <% if prepcenter %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= store %>/orders">All Orders</a></li>
              </ul>
            </li>             
           <% end %>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/products">View Products</a></li>
              <li><a href="/<%= store %>/products/add">Add Products</a></li>
            </ul>
           </li>          
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Locations <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= store %>/locations">View Locations</a></li>
              <li><a href="/<%= store %>/locations/new">Add Locations</a></li>
              
            </ul>
           </li>
           
           <% if !prepcenter %>
            <li><a href="/<%= store %>/quick_order">Quick Order</a></li>
           <% end %>
           
        <% end %>

      </ul>


      <ul class="nav navbar-nav navbar-right">
      <% if store %>
        <% if prepcenter %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="badge badge-notify"><%= notification_count %></span>
              <span class="glyphicon glyphicon-bell"></span>
              
            </a>

            <% if notification_count %>
              <ul class="dropdown-menu">
                <%= notification_dropdown %>
              </ul>
            <% end %>
            
          </li> 
        <% end %> 
      <% end %>

        <% if current_user %>
            <li>
              <a href="/edit_user">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </li>
        <% end %>
        <% if !current_user %>
          <li>
            <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
          </li>
        <% end %>

        <% if current_user %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %> 
              <span class="glyphicon glyphicon-log-out"></span> Log Out
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>

  </div>
</nav>

<% if current_user %>
  <%= current_user.username %> - <%= current_user.role %> 
<% end %>
