
<h1> Store Orders </h1>


<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date placed</th>
        <th>Store </th>
        <th>Status </th>
        <th>View/Create</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.id %></td>
	    <td><%= order.created_at.strftime('%A, %d %b %Y %l:%M %p') %></td>	
	    <td><%= store_name_format(order.store.name) %> </td>
	   	<%= status_color(order.status) %>
	    <% if order.status == 'Complete' %>
        <td><%= link_to 'View', "/#{params[:store]}/orders/#{order.id}", class: "btn btn-primary"%></td> </td>
        <td><%= link_to 'Edit', "/#{params[:store]}/orders/#{order.id}/new", class: "btn btn-primary"%></td> </td>
      <% else  %>
        <td><%= link_to 'Create', "/#{params[:store]}/orders/#{order.id}/new", class: "btn btn-primary"%></td> </td>
        <td> </td>
      <% end %>
	 </tr>
	<% end %>

    </tbody>
  </table>
</div>

<%= paginate @orders %>
