
<h1>Place Order </h1>

<%= form_tag "/#{params[:store]}/orders", method: :post do %>

<div class="table-responsive">          
	  <table class="table table-striped">
	    <thead>
	      <tr>
	      	<th>Out of Stock</th>
	        <th>Product</th>
	        <th>Current Quantity</th>
	        <th>Quantity Needed</th>
	      </tr>     
	    </thead> 

			<input type="hidden" name="order_id" value="<%= params[:id] %>">
			<% @inventories.each do |inventory| %>
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
						<% if inventory.store_good.distributor.name.parameterize('_') == params[:store] %>
							<% if inventory.store_good.product %>
								<td><%= sg.check_box :out_of_stock %></td>
								<td><%= inventory.store_good.product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> </td>

								<%= sg.hidden_field :inventory_id, :value => inventory.id %>
							<% elsif inventory.store_good.prepcenter_product %>
								<td><%= sg.check_box :out_of_stock %></td>
								<td><%= inventory.store_good.prepcenter_product.name %> </td>
								<td><%= inventory.quantity %> </td>
								<td><%= inventory.quantity_needed %> </td>

								<%= sg.hidden_field :inventory_id, :value => inventory.id %>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			<% end %>

	  </table>
	</div>

      <div class="form-group">
        <label>Notes:</label>
        <%= @message %>
      </div>

	<button type="submit" class="btn btn-success">Complete Order</button>
<% end %>



