
<h1>Place Order For <%= store_name_format(@store_name) %></h1>
<h4> <%= @date.strftime('%A, %d %b %Y %l:%M %p') %> </h4>

<%= form_tag "/#{params[:store]}/orders", method: :post do %>

	  <table class="table table-striped">
	    <thead>
	      <tr>
	      	<th class="sticky2">Out of Stock</th>
	      	<th class="sticky2">Adjusted Quantity Delivered</th>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Current Quantity</th>
	        <th class="sticky2">Quantity Needed</th>
	      </tr>     
	    </thead> 
			<input type="hidden" name="order_id" value="<%= params[:id] %>">

		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Non-Prepped Frozen</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.product && (inventory.store_good.product.item_type == 'frozen') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>


		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Non-Prepped Dry</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.product && (inventory.store_good.product.item_type == 'dry') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>


		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Non-Prepped Refrigerated</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.product && (inventory.store_good.product.item_type == 'refrigerated') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>


		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Prepped Frozen</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == 'frozen') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.prepcenter_product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>


		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Prepped Dry</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == 'dry') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.prepcenter_product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>

		     <thead>
		        <tr> 
		          <th class="sticky text-center" colspan="5">Prepped Refrigerated</th>
		        </tr>
		     </thead>			
			<% @inventories.each do |inventory| %>
			    
				<%= fields_for "inventory[]", @inventory do |sg| %>
					<tr>	
					 <% if inventory.store_good.prepcenter_product && (inventory.store_good.prepcenter_product.item_type == 'refrigerated') %>
						<td><%= sg.check_box :out_of_stock, {checked: inventory.out_of_stock} %></td>
						<td><%= sg.number_field :quantity_needed, class: 'form-control' %> </td>
						<td><%= inventory.store_good.prepcenter_product.name %> </td>
						<td><%= inventory.quantity %> </td>
						<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>

						<%= sg.hidden_field :inventory_id, :value => inventory.id %>
					</tr>
					<% end %>
				<% end %>
			<% end %>			



	  </table>

      <div class="form-group">
        <label>Notes:</label>
        <%= @message %>
      </div>

	<button type="submit" class="btn btn-success">Complete Order</button>
<% end %>



