
<h1> Add Updated Product Prices <%= params[:distributor] %> </h1>


	<div class='sub-list'>
		<ul> 
			<% @distributors.each do |distributor|  %>
				<li><a href="/product_prices/prices/<%= distributor.name %>/new"><%= distributor.name %> </a> </li>
			<% end %>
		</ul>
	</div>

<%= form_tag "/product_prices/prices", method: :post do %>
	<div class="table-responsive">          
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Product Name</th>
	        <th>Previous Price </th>
	        <th>Input Price</th>
	      </tr>
	    </thead>
	    <tbody>

			<% @products.each do |product| %>
			  <% if params[:distributor] == product.distributor %>
				  <tr>

				    <td><%= product.name %></td>	
				    <td><%= number_to_currency(product.price) %></td>	
				    <%= fields_for "product[]", product do |pf| %>
		            	<td><%= pf.number_field :price, :value => nil, class:"form-control", step: :any, required: "true" %> </td>
				    <% end %>

				 </tr>
			 <% end %>
			<% end %>


	    </tbody>
	  </table>

	  </div>
	</div>
<%= submit_tag 'Update Prices', class:"btn btn-primary" %>
<% end %>