<h1> Add Updated Product Prices </h1>


<%= form_tag "/prices", method: :post do %>
	<div class="table-responsive">          
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Product Name</th>
	        <th>Previous Price </th>
	        <th>Input Price</th>
	      </tr>
	    </thead>
	    <tbody>

			<% @products.each do |product| %>
			  <tr>

			    <td><%= product.name %></td>	
			    <td><%= number_to_currency(product.price) %></td>	
			    <%= fields_for "product[]", product do |pf| %>
	            	<td><%= pf.number_field :price, :value => nil, class:"form-control", step: :any, required: "true" %> </td>
			    <% end %>

			 </tr>
			<% end %>


	    </tbody>
	  </table>

	  </div>
	</div>
<%= submit_tag 'Update Prices', class:"btn btn-primary" %>
<% end %>