
<h1>Edit <%= @product.name %></h1>

	<%= form_tag "/products/#{@product.id}", method: :patch do %>
		<form>
		  <div class="form-group">
		    <label>Product Name</label>
		    <input type="text" class="form-control" name="name" placeholder="Enter Product Name" value="<%= @product.name %>" required>
		  </div>

		  <div class="form-group">
		    <label>Distributor</label>
		    <select class="form-control" name="distributor" required>
		    	<%= product_distributors_options(@product) %>
		    </select>	 
		  </div>

		  <div class="form-group">
		    <label>Measurement</label>
		   <select class="form-control" name="measurement" required>
		   		<%= measurement_options(@product) %>
		    </select>	
		  </div>

		  <div class="form-group">
		    <label>Item Type</label>
		    <select class="form-control" name="item_type" required>
		    	<%= item_type_options(@product) %>
		    </select>	 
		  </div>	  

		  <div class="form-group">
		    <label>Case Quantity</label>
	    	<input type="number" class="form-control" name="case_quantity" value='<%= @product.case_quantity %>'  placeholder="Leave Blank If Not Case">
		  </div>

		  <div class='form-group'>
		  	<label>Mark Up</label>
			<input type="number" class="form-control" value="<%= @product.markup %>" maxlength="12" name="markup" step="any" required/>
		  </div>		  

		  <div class='form-group'>
		  	<label>Price</label>
			<input type="number" class="form-control" value="<%= @product.price %>" id="amount" maxlength="12" name="price" step="any" required/>
		  </div>	  

		  <button type="submit" class="btn btn-primary">Edit Product</button>
		</form>
	<% end %>

	<br>



