
<h1>All Non-prepped Products</h1>

<a href="/products/new"><button type="button" class="btn btn-success">Add New Product</button></a>
<br>
<br>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th class="sticky">Name</th>
        <th class="sticky">Distributor </th>
        <th class="sticky">Measurement</th>
        <th class="sticky">Item Type</th>
        <th class="sticky">Case Quantity </th>
        <th class="sticky">Price</th>
       	<th class="sticky">Markup</th>
        <th class="sticky">Markup Price </th>
        <th class="sticky">Prepped </th>
        <th class="sticky">Edit</th>
        <th class="sticky">Delete</th>
      </tr>
    </thead>
    <tbody>

	<% @products.each do |product| %>
	  <tr>
        <td><%= product.name %></td>
		    <td><%= product.distributor %></td>
      	<td><%= product.measurement %></td> 
      	<td><%= product.item_type %> </td>
      	<td><%= product.case_quantity %> </td>	
      	<td><%= number_to_currency(product.price) %> </td>
        <td><%= number_to_percentage(product.markup, precision: 1) %> </td>
        <td><%= number_to_currency( (product.price) * ((product.markup * 0.01)+1)) %> </td>

        <td><%= link_to 'Add', "/products/prepcenter/#{product.id}/new", class: "btn btn-success"%></td>

	      <td><%= link_to 'Edit', "/products/#{product.id}/edit", class: "btn btn-primary"%></td>
        <td><%= button_to "Delete", { action: "destroy", id: product.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
	 </tr>
	<% end %>

    </tbody>
  </table>

