
<h1>All Prepped Products</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sticky2">Name</th>
        <th class="sticky2">Measurement</th>
        <th class="sticky2">Item Type</th>
        <th class="sticky2">Case Quantity </th>
        <th class="sticky2">Portion Size </th>
        <th class="sticky2">Markup </th>
       	<th class="sticky2">Price</th>
        <th class="sticky2">Edit</th>
        <th class="sticky2">Delete</th>
      </tr>
    </thead>
    <tbody>

	<% @prepcenter_products.each do |prepcenter_product| %>
	  <% if prepcenter_product.product %>
      <tr>
  		    <td><%= prepcenter_product.name %></td>
        	<td><%= prepcenter_product.measurement %></td> 
          <td><%= prepcenter_product.item_type %> </td>
        	<td><%= prepcenter_product.case_quantity %> </td>
        	<td><%= prepcenter_product.portion_size %> </td>	
          <td><%= number_to_percentage(prepcenter_product.product.markup, precision: 1) %></td>
        	<td><%= number_to_currency( (prepcenter_product.product.price / prepcenter_product.portion_size) * ((prepcenter_product.product.markup * 0.01)+1) ) %> </td>
          <td><%= link_to 'Edit', "/globals/products/prepcenter/#{prepcenter_product.id}/edit", class: "btn btn-primary"%></td>
         <td><%= button_to "Delete", { action: "destroy", id: prepcenter_product.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> </td>
  	 </tr>
   <% end %>
	<% end %>

    </tbody>
  </table>

