<h1>Final Paid Sales Order For <%= store_name_format(@store_name) %> </h1>
<h3>Invoice #: <%= params[:id] %> </h3>
<h4> <%= @date.strftime('%A, %d %b %Y %l:%M %p') %> </h4>

	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Current Quantity</th>
	        <th class="sticky2">Quantity Needed</th>
	        <th class="sticky2">Price</th>
	      </tr>     
	    </thead> 

	     <% @inventories.each do |inventory| %>
		     <tr>
		     	<% if inventory.store_good.product %>
		     		<td><%= inventory.store_good.product.name %> </td>
					<td><%= inventory.quantity %> </td>	

					<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
					<td><%= number_to_currency(product_sale_total(inventory)) %> </td>
				<% else %>	     		
					<td><%= inventory.store_good.prepcenter_product.name %> </td>
					<td><%= inventory.quantity %> </td>

					<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
					<td><%= number_to_currency(product_sale_total(inventory)) %> </td>
		     	<% end %>
		     </tr>
	     <% end %>
   

		<h3>Total: <%= number_to_currency(@sale_total) %> </h3>

	</table>