<h1>Review Sales Order </h1>


	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Current Quantity</th>
	        <th class="sticky2">Quantity Needed</th>
	        <th class="sticky2">Price</th>
	      </tr>     
	    </thead> 

	    <% sum = 0 %>
	     <% @inventories.each do |inventory| %>
		     <tr>
		     	<% if inventory.store_good.product %>
		     		<td><%= inventory.store_good.product.name %> </td>
					<td><%= inventory.quantity %> </td>	

					<td><%= inventory.quantity_needed %> <%= measurement_label(inventory) %></td>
					<td><%= number_to_currency(product_sale_total(inventory)) %> </td>
					<% sum += product_sale_total(inventory) %>
				<% else %>	     		
					<td><%= inventory.store_good.prepcenter_product.name %> </td>
					<td><%= inventory.quantity %> </td>

					<td><%= inventory.quantity_needed %> <%= prepped_measurement_label(inventory) %></td>
					<td><%= number_to_currency(product_sale_total(inventory)) %> </td>
					<% sum += product_sale_total(inventory) %>
		     	<% end %>
		     </tr>
	     <% end %>
   
		<h3>Total: <%= number_to_currency(sum) %> </h3>


	  </table>


