<h1> Quick Order </h1>

<%= @error %>

<%= form_tag "/#{params[:store]}/quick_order", method: :post do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Search a Products Name", class: 'term' %>

	<div class="form-check">
	  <label class="form-check-label">
	  	<span> Search All Products</span>
	  </label>
	  <%= check_box_tag 'search_all', "true" %>
	</div>	

  <br>
<% end %>




	<br>
	<%= form_tag "/#{params[:store]}/quick_order/edit", method: :patch do %>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="sticky2">Product</th>
	        <th class="sticky2">Count By</th>
	        <th class="sticky2">Amount Needed</th>
	        <th class="sticky2">Remove</th>
	      </tr>     
	    </thead> 

		<% @quick_products.each do |quick_product| %>
			<%= fields_for "inventory[]", @quick_product do |sg| %>
			    <tr> 
			    	<td><%= quick_product.name %> </td>
			    	<td><%= quick_product.measurement %> </td>

			    	<td><%= sg.number_field :quantity_needed, class:"form-control", required: "true" %> </td>
					<%= sg.hidden_field :id, :value => quick_product.id %>
					<%= sg.hidden_field :name, :value => quick_product.name %>

			    	<td><%= link_to "Delete", { action: "destroy", id: quick_product.id }, method: :delete, class: "btn btn-danger" %> </td>
			    </tr>
		    <% end %>
		<% end %>

	   </table>	

      <div class="form-group">
        <label>Notes:</label>
        <textarea class="form-control" rows="5" name="message"></textarea>
      </div>	

	   <button type="submit" class="btn btn-success">Place Order</button>
	<% end %>
