<!DOCTYPE html>
<html>
  <head>
    <title>RusticanaInventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<%= render partial: 'shared/navbar', :locals => {:store => params[:store]} %>
  	<body class="container-fluid">
    	<%= yield %>
	</body>


  <script type="text/javascript">
   $('.form-control').keydown(function (e) {
     if (e.which === 13) {
         e.preventDefault()
         var index = $('.form-control').index(this) + 1;
         $('.form-control').eq(index).focus();
     }
  });

  $('#amount').on('blur', function() {
      var amount = $('#amount').val().replace(/^\s+|\s+$/g, '');
      if( ($('#amount').val() != '') && (!amount.match(/^$/) )){
          $('#amount').val( parseFloat(amount).toFixed(2));
      }
  }); 

  </script>  

</html>
